/* body {
  margin: 0;
  background: url('..//public/images/medieval_tavern_gif.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1225px;
  display: grid;
  font-family: 'Grenze Gotisch', cursive;
  color: white;
  text-decoration: none;
  text-shadow: 2px 1px var(--black);
  overflow-x: hidden;
  position: relative;


} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

 
